aiohttp
aria2p==0.9.1
beautifulsoup4
bs4
cfscrape
feedparser
hachoir
Pillow
pyrogram
tgcrypto
lk21
messages
speedtest-cli
urllib3
pyprog
pybase64
yt-dlp
python-telegram-bot
hurry.filesize
python-dotenv
psutil
beautifulsoup4
bs4
lxml
requests
js2py
